$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.btn-img {
    width:107px;
    height:107px;
    //background-color: #ff0000;
    position: fixed;
};

.content {
   height: 700px;
   width: 700px;
   position: fixed;
   top: 107px;
}
body {
    background-color: black;
}
body.invert {
    background-color: white;
}

.plant.invert {
    background-image: url('/images/button/plant2.png');
}
.insect.invert {
    background-image: url('/images/button/insect2.png');
}
.fish.invert {
    background-image: url('/images/button/fish2.png');
}
.reptiles.invert {
    background-image: url('/images/button/reptiles2.png');
}
.birds.invert {
    background-image: url('/images/button/birds2.png');
}
.artiodactyla.invert {
    background-image: url('/images/button/artiodactyla2.png');
}
.simian.invert {
    background-image: url('/images/button/simian2.png');
}
.creature.invert {
    background-image: url('/images/button/creature2.png');
}
.space.invert {
    background-image: url('/images/button/space2.png');
}

.plant {
    background-image: url('/images/button/plant.png');
}
.insect {
    background-image: url('/images/button/insect.png');
}
.fish {
    background-image: url('/images/button/fish.png');
}
.reptiles {
    background-image: url('/images/button/reptiles.png');
}
.birds {
    background-image: url('/images/button/birds.png');
}
.artiodactyla {
    background-image: url('/images/button/artiodactyla.png');
}
.simian {
    background-image: url('/images/button/simian.png');
}
.creature {
    background-image: url('/images/button/creature.png');
}
.space {
    background-image: url('/images/button/space.png');
}


.plant.content {
    background-image: url('/images/animation/plant.gif');
}
.insect.content {
    background-image: url('/images/animation/insect.gif');
}
.fish.content {
    background-image: url('/images/animation/fish.gif');
}
.reptiles.content {
    background-image: url('/images/animation/reptiles.gif');
}
.birds.content {
    background-image: url('/images/animation/birds.gif');
}
.artiodactyla.content {
    background-image: url('/images/animation/artiodactyla.gif');
}
.simian.content {
    background-image: url('/images/animation/simian.gif');
}
.creature.content {
    background-image: url('/images/animation/creature-only.gif');
}
.space.content {
    background-image: url('/images/animation/space-only.gif');
}

.plant.content.invert {
    background-image: url('/images/animation/plant2.gif');
}
.insect.content.invert {
    background-image: url('/images/animation/insect2.gif');
}
.fish.content.invert {
    background-image: url('/images/animation/fish2.gif');
}
.reptiles.content.invert {
    background-image: url('/images/animation/reptiles2.gif');
}
.birds.content.invert {
    background-image: url('/images/animation/birds2.gif');
}
.artiodactyla.content.invert {
    background-image: url('/images/animation/artiodactyla2.gif');
}
.simian.content.invert {
    background-image: url('/images/animation/simian2.gif');
}
.creature.content.invert {
    background-image: url('/images/animation/creature-only2.gif');
}
.space.content.invert {
    background-image: url('/images/animation/space-only2.gif');
}
